:root {
	--main-color: #ff8b8b;
	--sub-color: #f9f7e8;
	--default-border: 1px solid gray;
}

.tpBtn {
	border: none;
	background-color: var(--sub-color);
	cursor: pointer;
}
.tpBtn:active {
	color: lightgray;
}

.btn {
	background-color: var(--sub-color);
	border: var(--default-border);
	cursor: pointer;
	height: 30px;
}
.btn:active {
	background-color: lightgray;
}
