.todo__title {
	padding: 2rem;
	text-align: center;
	color: var(--sub-color);
	font-size: 5rem;
}
.todo__wrapper {
	justify-content: center;
	margin: 3rem 0px;
	min-width: 600px;
}
.todo--bg {
	outline: var(--default-border);
	background-color: var(--sub-color);
}
