.todo__box {
	border-bottom: 1px solid gray;
}
.todo__box__allCkBtn {
	border: none;
	background-color: #f9f7e8;
	cursor: pointer;
}
.todo__box__input {
	border: 0;
	background-color: #f9f7e8;
	text-align: center;
	width: 50%;
}
