.todo__box {
	display: grid;
	border-bottom: var(--default-border);
	height: 50px;
	grid-template-columns: 1fr 10fr;
}
.todo__box .tpBtn {
	padding: 0;
	font-size: x-large;
}
.todo__box__allCkBtn {
	border-right: var(--default-border);
}
.todo__box__input {
	border: 0;
	background-color: var(--sub-color);
	text-align: center;
	font-size: large;
	outline: none;
}
.todo__box__input:focus {
	box-shadow: var(--focus-shadow);
}
